.mainTitle
{
    margin-right: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: medium;
    color: #515151;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);

}
.nav.navbar-nav.brand
{
    overflow: visible;
    padding-left: 0;
    padding-top: 0;

}

.form-login {
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    margin-top: 25%;
    box-shadow:0 1px 0 #cfcfcf;
}
#homeJumbotron
{
    background-image: url(../images/gbc_blank.png);

    background-size: 100% 100%;

}
.feature {
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0px 1px 4px #4C74D9;

}
.glyphicon.glyphicon-search
{
    color: #00B4FF;
}
.jumbotronHeader
{
    color: #ffffff;
    font-weight: 300;
    text-shadow: 0px 2px 3px #555;
    opacity: 0.9;

}
.progress
{
    opacity: 0.2;
}

.pager2
{
    padding-top: 150px;
}
.customJumbotron.jumbotron
{
    padding: 0px;
    line-height: normal;

}
.btn-yellow
{
    background-color: #FFCC44;
    border-color: #FFCC44;
    color: #FFFFFF;
}
.btn-yellow:hover
{
    background-color: #FFCC44;
    border-color: #FFCC44;
}
.list-group-item.btn.btn-yellow
{
    background-color: #FFCC44;
}
.text-yellow
{
    color :#FFCC44;
    opacity: 0.8;
}
.panel-yellow
{
    color: #FFFFFF;
    background-color: #FFCC44;
}

.panel-primary> .panel-heading {
   opacity: 0.8;
}
.list-group-item.active
{
    opacity: 0.8;
}
.navbar-inverse
{

    font-weight: 400;
}

div.dataTables_filter {
    text-align: right;
    font-size: larger;
}

div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;


}

div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.alert-custom
{
    background-color: mediumseagreen;
    opacity: 0.7;

}


.btn-green {
    background-color: mediumseagreen;
    opacity: 0.8;
    color: #ffffff;
}

.btn-green:hover {
    background-color: mediumseagreen;
    opacity: 0.8;
    color: #000000;
}